
.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  margin-top: 20vh;
  display: inline-block;
  height: 400px;
  width: 100%;
}


.slideVideo {
  display: inline-block;
  height: 600px;
  width: 100%;
}

.animated1 {
  margin-top: 20vh;
  display: inline-block;
  height: 400px;
  width: 100%;
  border-radius: 40px;
  animation: 3s linear 1s infinite running slidein;
}
.animated2 {
  margin-top: 20vh;
  display: inline-block;
  height: 400px;
  width: 100%;
  border-radius: 40px;
  animation: 3s linear 1s infinite running slidein;

}
.animated3 {
  margin-top: 20vh;
  display: inline-block;
  height: 400px;
  width: 100%;

}




